**Import package**

In [7]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\RUDRA JAWANE\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [8]:
visa_df=pd.read_csv(r"C:\Users\RUDRA JAWANE\Documents\Naresh IT\DataType\Visadataset.csv")
visa_df.head(2)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified

**Select the numerical columns**

In [8]:
visa_df.select_dtypes(exclude='object').columns

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

**preaviling_wage**

- len 

- max

- min

- mean

- median

- std

- 75%

- 50%

- 25%

**Count or len**

In [13]:
len(visa_df['prevailing_wage'])

25480

**Max**

In [15]:
max(visa_df['prevailing_wage'])  # keyword

319210.27

In [17]:
visa_df['prevailing_wage'].max()   #pandas

319210.27

In [18]:
np.max(visa_df['prevailing_wage'])  # Numpy

319210.27

**Min**

In [21]:
min(visa_df['prevailing_wage'])  # keywords

2.1367

In [22]:
visa_df['prevailing_wage'].min()   # Pandas

2.1367

In [23]:
np.min(visa_df['prevailing_wage']) # numpy

2.1367

**Mean**

In [24]:
visa_df['prevailing_wage'].mean()

74455.81459209183

In [25]:
np.mean(visa_df['prevailing_wage'])

74455.81459209183

**Median**

In [29]:
visa_df['prevailing_wage'].median()

70308.20999999999

**Std**

In [26]:
visa_df['prevailing_wage'].std()

52815.94232687371

In [27]:
np.std(visa_df['prevailing_wage'])

52814.90589711416

**Mode is not good option because it is numerical variables**

In [39]:
### All Together


wage_count= round(len(visa_df['prevailing_wage']),2)
wage_min= round(visa_df['prevailing_wage'].min(),2)
wage_max= round(visa_df['prevailing_wage'].max(),2)
wage_mean= round(visa_df['prevailing_wage'].mean(),2)
wage_median= round(visa_df['prevailing_wage'].median(),2)
wage_std= round(visa_df['prevailing_wage'].std(),2)

list_values=[wage_count,wage_min,wage_max,wage_mean,
             wage_median,wage_std]
index_val=['count','min','max','mean','median','std']

pd.DataFrame(list_values,
            columns=['prevailing_wage'],
            index=index_val)

        prevailing_wage
count          25480.00
min                2.14
max           319210.27
mean           74455.81
median         70308.21
std            52815.94

**Percentile and Quantile**

 - Percentile:
 
     - np.percentile()
     
     - It will take two arguments
     
       - data : a
       
       - percentile : q the values varies from 0 to 100
       
       - If you want 50P data q=50 
       
 - Quantile:
 
      - np.quantile()
       
      - It will take two arguments
       
       
           - data : a
           
           - percentile: q the values varies from 0 to 1
           
           - If you want 50P q = 0.5

**25P - 50P  - 75P**

In [18]:
wage_25p=round(np.percentile(visa_df['prevailing_wage'],25),2)
wage_50p=round(np.percentile(visa_df['prevailing_wage'],50),2)
wage_75p=round(np.percentile(visa_df['prevailing_wage'],75),2)


print(f"The 25% data is {wage_25p}")
print(f"The 50% data is {wage_50p}")
print(f"The 75% data is {wage_75p}")

The 25% data is 34015.48
The 50% data is 70308.21
The 75% data is 107735.51

In [16]:
34.89678

34.89678

In [17]:
round(34.89678,2)

34.9

**Quantile in betn 0 to 1**

In [21]:
wage_25=round(np.quantile(visa_df['prevailing_wage'],0.25),2)
wage_50=round(np.quantile(visa_df['prevailing_wage'],0.50),2)
wage_75=round(np.quantile(visa_df['prevailing_wage'],0.75),2)



print(f"The 25% data is {wage_25p}")
print(f"The 50% data is {wage_50p}")
print(f"The 75% data is {wage_75p}")

The 25% data is 34015.48
The 50% data is 70308.21
The 75% data is 107735.51

**Understand the percentiles**


- Defination of 25percentile

   - There 25% of employees has salary less than 34015
   
   - Total employees = 25480
   
   - 25% of employess = 25*25480/100 = 6370
   
   - 6370 employess salary less than 34015

In [24]:
con=visa_df['prevailing_wage']<34015
len(visa_df[con])

6370

In [25]:
con=visa_df['prevailing_wage']<wage_25p
len(visa_df[con])

6370

In [26]:
con=visa_df['prevailing_wage']<wage_50p
len(visa_df[con])

# 50*25480/100

12740

In [27]:
con=visa_df['prevailing_wage']<wage_75p
len(visa_df[con])

19110

**Emperical rule (68-95-99.7)**